.column {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.row {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}