/* add motion to icons */

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.float {
    transition: all 1s ease;
    animation: float 6s ease-in-out infinite;
}

.float img:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎉</text></svg>")
            16 0,
        auto; /*!emojicursor.app*/
}

.bubble {
    width: 300px;
    height: 300px;
}

.bubble svg {
    animation: appear 10s;
    font-size: 50px;
}

a.bubble {
    text-decoration: none;
}

.round {
    border-radius: 50%;
}

.iconBubbleContainer {
    padding-top: 4em;
}
